{
  "extends": [
    "airbnb",
    "prettier",
    "plugin:jsx-a11y/recommended",
    "next",
    "next/core-web-vitals"
  ],
  "plugins": ["jsx-a11y"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js", ".jsx", ".ts", ".tsx", ".json", ".svg"] }
    ],
    "react/jsx-props-no-spreading": "off",
    "settings": {
      "import/resolver": {
        "node": {
          "extensions": [".js", ".jsx", ".ts", ".tsx", ".json", ".svg"]
        }
      }
    }
  }
}
